/*
Copyright © 2018 Dennis Schulmeister-Zimolong

E-Mail: dhbw@windows3.de
Webseite: https://www.wpvs.de/

Dieser Quellcode ist lizenziert unter einer
Creative Commons Namensnennung 4.0 International Lizenz.
*/

/* Allgemeines Layout */
.tile {
    position: relative;

    border: 5px solid pink;
    box-shadow: 1px 1px 1px rgba(0,0,0, 0.2);

    display: inline-block;
    box-sizing: border-box;
    width: 9em;
    height: 9em;
    margin: 0.5em;

    font-size: 110%;
}

.tile .content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background-color: rosybrown;

    color: ghostwhite;
    font-weight: bold;
    z-index: 1;
}



.tile .label {
    position: absolute;
    z-index: 4;
    margin: 30%;
}

/* Besondere Kacheln */
.tile.overview .content {
    background-color: #FFFCEB;
}


.tile.status-all .content {
    background-color: #f5f5f5;
    font-weight: bold;
}




